<!DOCTYPE html>
<html>
    <body>
        <h1>Exchange Calculator</h1>
        <form action="" method="post">
            <input type="number" id="base_amount" name="base_amount" min="0" step="0.01">
            <select id="base_currency" name="base_currency">
                {% for key, value in currencies.items %}
                    <option value={{key}}>{{value}} ({{key}})</option>
                {% endfor %}
            </select>
            
            <label for="target_currency">to</label>
            <select id="target_currency" name="target_currency">
                {% for key, value in currencies.items %}
                    <option value="{{key}}">{{value}} ({{key}})</option>
                {% endfor %}
            </select>
        </form>
    </body>
</html>